.table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

.header{
    border: 1pt solid #004579;
    width: 230px;
    text-align: center;
    height: 75px;
    font-size: 24pt;
    font-weight: bold;
    background-color: rgba(30, 255, 174, 0.13);
    color: #484848;
}

.cell{
    border: 1pt solid #004579;
    width: 230px;
    height: 75px;
}

.cell:hover{
    background-color: rgba(252, 255, 145, 0.14);
}

.teacher{
    color: #0069e4;
    font-size: 18pt;
    text-align: left;
    width: 230px;
}

.audience{
    color: #4A6B82;
    font-size: 20pt;
    line-height: 50px;
    text-align: center;
    width: 230px;
}

.group{
    color: #D67575;
    text-align: right;
    width: 230px;
}